spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: admin
    url: jdbc:mysql://team051.ccanj92dsk00.us-east-1.rds.amazonaws.com/team051
    password: 'NjKp1NdWkNymEBVZe26X'
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    properties:
      hibernate:
        format_sql: 'true'
        show_sql: 'true'
    hibernate:
      ddl-auto: create-drop
logging:
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql: trace